@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    max-width: 83rem;
    margin: 40px auto;
    background-color: #8ECAE6;
}

nav.menu-lateral{
    width:5rem;
    height: 100%;
    background-color: #FB8500;
    padding: 2.5rem 0 2.5rem 1%;
    box-shadow: 0.1875rem 0 0;
    color:#f8bf86;
    z-index:2;

    position: fixed;
    top: 0;
    left:0;
    overflow: hidden;
    transition: .2s;
}

h2.titulos{
    color:#fff;
    font-size: 2.375rem;
    text-align: center;
}

h2.titulos span{
    color: #05055e;
}

.flex{
    display: flex;
}

.expandir{
    width: 100%;
    padding-left: 0.625rem;
}

.expandir >i{
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.topicos{
    height: 100%;
    list-style-type: none;
}

.topicos li.item-menu{
    transition: .2s;
}

.topicos li.item-menu:hover{
    background: #f8bf86;
}
.topicos li.item-menu a{
    color: #fff;
    font-size: 1.25rem; 
    padding: 1.25rem 4%;
    display: flex;
    text-decoration: none;
    line-height: 2.5rem;
}

.topicos li.item-menu a .txt-link{
    margin-left: 2.5rem;
}

.topicos li.item-menu a .icon > i{
    font-size: 1.875rem;
    margin-left: 0.625rem;
}

nav.menu-lateral:hover{
    width: 18.75rem;
}

.interface .cabeçalho{
    font-size: 3rem;
    font-family: Rubik Bubbles;
    color:#05055e;
}

header{
    padding: 10px;
}

/* Estilo do topo do site */
section.topodosite{
    padding: 2.5rem 4%;

}

section.topodosite .flex{
    align-items: center;
    justify-content: center;
    gap: 5.625rem;
}

.topodosite h1{
    font-size: 2.625rem;
    line-height: 2.5rem;
    color:#fff;
}

.topodosite .txt-topodosite h1 span{
    color: #05055e;

}

.topodosite .txt-topodosite h2{
    color: #fff;
    margin: 1rem 0;
    font-size: 1rem;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #023047;
    border: 0;
    border-radius:30px;
    cursor:pointer;
    color:#fff;
}

.contato button:hover{
    box-shadow: 0 0 0.5rem #023047;

}
.topodosite .img-topodosite img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:1.875rem;
    }
}

/* Estilo  dos serviços */
section.especialidades{
    padding: 2.5rem 4%;
}

section.especialidades .flex{
    gap: 3.75px;
    display: block;
    margin-bottom: 1.25px;
}
.especialidades .hospedagens-box{
    color:#fff;
    padding: 2.5rem;
    border-radius: 1.5625rem;
    border: 0.125rem solid #FB8500;
    margin-top:2.8125rem;
    transition: .2s;
}

.especialidades .hospedagens-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem #ffffff7a;
}

.especialidades .hospedagens-box h3{
    font-size:1.75rem;
    color: #023047;
    margin: 0.9375rem 0;
}

/* Estilo do sobre */

section.sobre{
    padding: 2.5rem 4%;
}

section.sobre .flex{
    align-items: center;
    gap:1.25rem;
}

.sobre .txt-sobre{
    color:#fff;
}

.sobre .txt-sobre h2{
    font-size:2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.875rem;
}

.sobre .txt-sobre h2 span{
    color: #023047;
    display: block;
}

.sobre .txt-sobre p{
    margin: 1.25rem 0;
    text-align: justify;
}

/* Estilo do preço */

.preços .card-preço h2{
    text-align:center;
}

.tabela-titulo {
    font-size: 2.375rem;
    color: #05055e;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.preços{
    background-color: #0000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.tabela-preço{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
}

.card-preço{
    flex: 1;
    max-width: 22.5rem;
    background-color: #fff;
    margin: 1.25rem 0.625rem;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}

.card-preço:hover .card-preço-header{
    box-shadow: 0 0 0 26em #0fbcf9;

}

.card-preço-header{
    background-color: #FB8500;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.875rem;
    border-radius: 0 0 1.25rem 1.25rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 4s line;
}

.preço{
    font-size: 4.375rem;
    color:#023047;
    margin: 1rem 0;
    transition: .2s linear;
}

.preços sup, .preço span{
    font-size: 1.375rem;
    font-weight: 700;
}

.card-preço:hover, .card-preço:hover .preço{
    color:#fff;
}

.card-preço li{
    font-size: 1rem;
    text-decoration: uppercase;
    margin: 0.625rem;
}

h2.titulo-preço{
    color:#fff;
    font-size: 1.875rem;
}

/* Estilo galeria de fotos */

.galeria {
    background-color: #f4f4f4;
    padding: 1.25rem;
}

.galeria .interface {
    max-width: 75rem;
    margin: 0 auto;
}

.galeria .titulos {
    font-size: 2.5rem;
    color: #05055e;
    margin-bottom: 1.25rem;
}

.galeria img {
    width: 25rem; /* Defina a largura desejada */
    height: 25rem; /* Defina a altura desejada */
    object-fit: cover; /* Garante que a imagem cobre completamente a área especificada */
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 1.25rem;
}

.galeria img:hover {
    transform: scale(1.1);
}

.galeria a {
    width: calc(33.33% - 10px); /* 10px de margem entre as imagens */
    margin-bottom: 0.625rem;
    text-decoration: none;
    color: #333;
    margin: 0.625rem;
}

.galeria .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo do contato */

footer{
    padding: 2.5rem 4%;
    margin: 2.5rem;
    box-shadow: 0 0 60px 60px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

.btn-social button{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: none;
    background-color: #FB8500;
    font-size: 1.375rem;
    cursor: pointer;
    margin: 0 0.3125rem;
    transition: .2s;
}

footer .line-footer p i{
    color: #05055e;
    font-size: 1.375rem;
}

footer .line-footer p a{
    color:#fff;
}

footer .line-footer{
    padding: 1.25rem 0;
}

.borda{
    border-top: 0.125rem solid #05055e; 
}

.rodapé h3{
    font-size: 1.875rem;
    color:#05055e;
}

/* Estilos padrão */


@media screen and (max-width: 1200px) {
    /* CLASSES GERAIS */
   .flex{
    flex-direction: column-reverse;
   }

   h2.titulos{
    font-size: 1.875rem;
    line-height: 1.875rem;
}
   
   
    /* CABEÇALHO */
    .menu-lateral{
        display:none;
    }

    /* TOPO DO SITE */

    section.topodosite .flex{
        gap: 2.5rem;
    }

    section.topodosite{
        padding: 1.25rem 8%;
    
    }
    .topodosite h1{
        font-size: 2rem;
    }

    .topodosite .img-topodosite img{
        width: 100%;
    }

   .cabeçalho{
       text-align: center;
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 2.5rem 8%;
    }

    /* SOBRE */

    section.sobre{
        padding: 2.5rem 8%;
    }

    .sobre .txt-sobre h2{
        font-size:2.125rem;
        line-height: 2.1875rem;
        text-align: center;
    }
     .img-sobre img{
        width:100%;
     }

     /* PREÇOS */
     .preços {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }

    .preços .tabela-titulo{
        font-size:2.125rem;
        line-height: 2.1875rem;
        margin:  -50px 20px 0px 0 ;
        text-align: center;
    }

    .card-preço ul li:hover{
        text-decoration: none;
    }

    .card-preço{
        flex: 1;
        max-width: 22.5rem;
        background-color: #fff;
        margin: 20px -900px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        color: #2d2d2d;
        transition: .3s linear;
    }

    

    .tabela-preço {
        width: 50%; /* Ajuste a largura conforme necessário */
        margin: 10px;
    }


     /* FOTOS */

     .galeria .flex {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 0 350px 0 20px;
    }

    .galeria img {
        width: 350px; /* Garante que a imagem ocupe a largura total do contêiner */
        height: 350px; /* Mantém a proporção da imagem */
        margin: 0px 20px 0px -12px; /* Adiciona margem entre as imagens */
    }

    .galeria .titulos{
        font-size:2.125rem;
        line-height: 2.1875rem;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }
}
